body {
    background-color: #F5F5F5;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;
}

.gallery-item {}

.gallery-link {
    text-decoration: none;
}

.gallery-image {
    width: 360px;
    height: 200px;
    list-style-type: none;
    transition: transform 0.01s;
}

.gallery-image:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}